/* ****BASIC TO THE CODES START**** */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish';
  scroll-behavior: smooth;
}

:root {
  --nav-link-active-color: #1F1534;
  --main-title-color: #000000;
  --main-paragraph-color: #7D7987;
  --main-link-color: #FFFFFF;
  --main-link-bg-color: #458FF6;
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1140px;
  width: 100%;
}

/* ****BASIC TO THE CODES END**** */

/* ****LOADER START**** */

.loader{
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-link-bg-color);
  top: 0;
  z-index: 2;
  transition: all .4s linear;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--main-link-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* ****LOADER END**** */

/* ****HEADER START**** */

.header {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--main-link-color);
  z-index: 1;
  transition: .2s linear;
}

.header.active {
  height: 60px;
  transition: .2s linear;
  box-shadow: 0 1px 2px var(--main-link-bg-color);
}

.header.active .nav {
  height: 60px;
  transition: .2s linear;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  transition: .2s linear;
}

.nav .nav__list .nav__item {
  display: inline-block;

}

.nav .nav__list .nav__item .nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  opacity: .5;
  transition: .2s linear;
  padding: 0 15px;
}

.nav .nav__list .nav__item .nav__link:hover {
  color: var(--nav-link-active-color);
  opacity: 1;
}

.nav .nav__list .nav__item .nav__link.active {
  color: var(--nav-link-active-color);
  opacity: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.fa-bars {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--main-link-bg-color);
}

.fa-times {
  font-size: 30px;
  cursor: pointer;
  color: var(--main-link-bg-color);
}

/* ****HEADER END**** */


/* ****MAIN START**** */
.main__element {
  background-image: url("../IMG/background/element.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 115px;
  height: 115px;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 100px;
  margin: 0 0 144px 0;
}

.main__box_title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  mix-blend-mode: normal;
  color: var(--main-title-color);
  max-width: 427px;
  width: 100%;
  line-height: 56px;
}

.main__box_paragraph {
  max-width: 440px;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  mix-blend-mode: normal;
  font-size: 21px;
  line-height: 32px;
  color: var(--main-paragraph-color);
  margin: 25px 0 48px 0;
}

.main__box_link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  mix-blend-mode: normal;
  color: var(--main-link-color);
  border-radius: 55px;
  background-color: var(--main-link-bg-color);
  height: 56px;
  max-width: 200px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border: 1px solid var(--main-link-bg-color);
  transition: .2s linear;
}

.main__box_link:hover {
  background-color: transparent;
  color: var(--main-link-bg-color);
}

.main__box_img {
  max-width: 693px;
  width: 100%;
}

/* ****MAIN END**** */

/* ****SECTION START**** */
.section__content {
  text-align: center;
}

.section__content_title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  mix-blend-mode: normal;
  color: var(--main-title-color);
  position: relative;
  margin: 0 0 61px 0;
}

.section__content_title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 56px;
  background-color: var(--main-title-color);
  transform: translateY(75px) translateX(-135px);
}

.section__content_paragraph {
  max-width: 952px;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: var(--main-paragraph-color);
  mix-blend-mode: normal;
  line-height: 30px;
}

.section.first {
  background-image: url("../IMG/section/section-bg-first.svg"), url("../IMG/background/element.svg");
  background-size: contain contain;
  background-position: left 50px, right;
  background-repeat: no-repeat;
  z-index: -1;
}

.section__card_container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 34px;
  padding: 105px 0 0 0;
}

.section__card_box {
  height: 354px;
  max-width: 350px;
  width: 100%;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  background-color: var(--main-link-color);
  padding: 63px 52px 47px 37px;
  transition: .2s linear;
  cursor: pointer;
}

.section__card_box:hover {
  background-color: var(--main-link-bg-color);
}

.section__card_box:hover .section__card_box_title {
  color: var(--main-link-color);
}

.section__card_box:hover .section__card_box_paragraph {
  color: var(--main-link-color);
}

.section__providers_container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  margin: 162px 0 0 0;
  gap: 75px;
}

.section__providers_box_img {
  max-width: 650px;
  width: 100%;
  height: 477px;
}

.section__card_box_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: var(--main-title-color);
  mix-blend-mode: normal;
  transition: .2s linear;
}

.section__card_box_paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  mix-blend-mode: normal;
  color: var(--main-paragraph-color);
  transition: .2s linear;
}

.section__card_small_box {
  display: flex;
  justify-content: center;
  margin: 74px 0 0 0;
}

.section__card_small_box_link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: var(--main-link-bg-color);
  max-width: 200px;
  width: 100%;
  height: 56px;
  border: 1.4px solid var(--main-link-bg-color);
  border-radius: 55px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s linear;
}

.section__card_small_box_link:hover {
  background-color: var(--main-link-bg-color);
  color: var(--main-link-color);
}

.section__providers_box_title {
  max-width: 481px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: var(--main-title-color);
  position: relative;
}

.section__providers_box_title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 56px;
  background-color: var(--main-title-color);
  transform: translateY(85px) translateX(-160px);
}

.section__providers_box_paragraph {
  max-width: 450px;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  mix-blend-mode: normal;
  color: var(--main-paragraph-color);
  margin: 59px 0 37px 0;
}

.section__providers_box_link {
  color: var(--main-link-bg-color);
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid var(--main-link-bg-color);
  max-width: 200px;
  width: 100%;
  mix-blend-mode: normal;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s linear;
}

.section__providers_box_link:hover {
  background-color: var(--main-link-bg-color);
  color: var(--main-link-color);
}

.section__mobile_container {
  margin: 265px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 71px;
}

.section__mobile_box_title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  mix-blend-mode: normal;
  color: var(--main-title-color);
  max-width: 254px;
  width: 100%;
  position: relative;
}

.section__mobile_box_title::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 56px;
  background-color: var(--main-title-color);
  transform: translateY(80px) translateX(-205px);
}

.section__mobile_box_paragraph {
  max-width: 390px;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-paragraph-color);
  mix-blend-mode: normal;
  margin: 63px 0 40px 0;
}

.section__mobile_box_link {
  mix-blend-mode: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: var(--main-link-bg-color);
  border: 1.4px solid var(--main-link-bg-color);
  border-radius: 55px;
  display: inline-block;
  max-width: 200px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s linear;
}

.section__mobile_box_link:hover {
  background-color: var(--main-link-bg-color);
  color: var(--main-link-color);
}

.fa-arrow-right {
  transform: rotate(90deg);
  margin: 0 0 0 25px;
}

.section__mobile_box_img {
  max-width: 665px;
  width: 100%;
  height: 434px;
}

.section.second {
  background-image: url("../IMG/background/element.svg");
  background-size: contain contain;
  background-repeat: no-repeat;
  background-position: 110px 250px;
  z-index: 2;
}

.section__carousel_big_container {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  overflow: hidden;
}

.section__carousel {
  width: 1000px !important;
  height: 425px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  padding: 61px 75px 92px 46px;
  margin: 269px 0 0 0;
  transition: all .2s linear;
  transform: translateX(0);
}

.section__carousel_small_box {
  text-align: center;
}

.section__carousel_small_box_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  mix-blend-mode: normal;
  color: var(--main-link-color);
  margin: 0 0 25px 0;
  position: relative;
}

.section__carousel_small_box_title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 56px;
  background-color: var(--main-link-color);
  transform: translateY(80px) translateX(-300px);
}

.section__carousel_content_container {
  margin: 100px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-between;
}

.section__carousel_content_box.active {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section__carousel_content_box_img {
  border-radius: 50%;
  border: 5px solid var(--main-link-color);
}

.section__carousel_content_box_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: var(--main-link-color);
  mix-blend-mode: normal;
}

.section__carousel_content_box_paragraph {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  mix-blend-mode: normal;
}

.section__carousel_content_box_paragraph_second {
  color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  max-width: 420px;
  width: 100%;
}

.section__carousel_box_dot_box {
  height: 10px;
  width: 10px;
  background-color: var(--main-link-bg-color);
  opacity: .3;
  border-radius: 50%;
  cursor: pointer;
}

.section__carousel_dots_container {
  display: flex;
  gap: 10px;
}

.section__carousel_box_dot_box.active {
  opacity: 1;
}

#fa-right {
  transform: rotate(0);
}

.section__carousel_dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 44px 0 0 0;
}

.fa-arrow-left {
  margin: 0 91px 0 0;
  color: var(--main-link-bg-color);
  opacity: .3;
  font-size: 30px;
  cursor: pointer;

}

.fa-arrow-right {
  margin: 0 0 0 91px;
  color: var(--main-link-bg-color);
  opacity: 1;
  font-size: 30px;
  cursor: pointer;
}

.fa-arrow-right.active {
  opacity: .3;
}

.fa-arrow-left.active {
  opacity: 1;
}

.section__article_container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.section.third {
  background-image: url("../IMG/background/element.svg"), url("../IMG/background/section-bg-img.svg");
  background-repeat: no-repeat;
  background-size: contain contain;
  background-position: 110px 115px, right;
}

.section__article_box {
  width: 326px;
  height: 490px;
  background: var(--main-link-color);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.7);
  border-radius: 5% 5% 5% 5%;
  transition: all .2s linear;
  cursor: pointer;
}

.section__article_box:hover {
  background-color: var(--main-link-bg-color);
}

.section__article_box:hover .section__article_box_title {
  color: var(--main-link-color);
  transition: all .2s linear;
}

.section__article_box:hover .section__article_box_paragraph {
  color: var(--main-link-color);
  transition: all .2s linear;
}

.section__article_box:hover .section__article_box_link {
  color: var(--main-link-color);
  transition: all .2s linear;
}

.section__article_box:hover .section__article_box_link i {
  color: var(--main-link-color);
}

.section__article_box_img {
  width: 326px;
  border-radius: 5% 5% 0 0;
}

.section__article_box_title {
  max-width: 251px;
  width: 100%;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  mix-blend-mode: normal;
  color: var(--main-title-color);
  margin: 21px 66px 0 33px;
}

.section__article_box_paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  max-width: 266px;
  width: 100%;
  mix-blend-mode: normal;
  color: var(--main-paragraph-color);
  margin: 12px 51px 25px 33px;
}

.section__article_box_link {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  mix-blend-mode: normal;
  color: var(--main-link-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 35px 33px;
}

.section__article_box_link i {
  font-size: 15px;
  margin: 0 51px 0 0;
  color: var(--main-link-bg-color);
}

.section__article_small_box_title {
  margin: 223px 0 100px 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  mix-blend-mode: normal;
  color: var(--main-title-color);
  position: relative;
}

.section__article_small_box_title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 56px;
  background-color: var(--main-title-color);
  transform: translateY(100px) translateX(-270px);
}

.section__small_box_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: var(--main-link-bg-color);
  border: 1.4px solid var(--main-link-bg-color);
  border-radius: 55px;
  height: 56px;
  max-width: 200px;
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s linear;
}

.section__small_box_link:hover {
  background-color: var(--main-link-bg-color);
  color: var(--main-link-color);
}

.section__small_box_links {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 72px 0 0 0;
}

/* ****SECTION END**** */

/* ****FOOTER START**** */
.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  height: 432px;
  width: 100%;
  margin: 202px 0 0 0;
  padding: 124px 0 113px 0;

}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 50px;
}

.footer__item_paragraph {
  max-width: 391px;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  mix-blend-mode: normal;
  color: var(--main-link-color);
  margin: 22px 0 31px 0;
}

.footer__item_paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  mix-blend-mode: normal;
  color: var(--main-link-color);
}

.footer__paragraph_active {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  mix-blend-mode: normal;
  color: var(--main-link-color);
}

.footer__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  mix-blend-mode: normal;
  color: var(--main-link-color);
}

.footer__link:hover {
  text-decoration: underline;
}

/* ****FOOTER END**** */

/* ****RESPONSIVE START**** */
@media only screen and (max-width:1088px) {
  .section__article_container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 100px;
    justify-content: center;
  }

  .section__article_box {
    width: 425px;
    height: 575px;
    background: var(--main-link-color);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 70%);
    border-radius: 5% 5% 5% 5%;
    transition: all .2s linear;
    cursor: pointer;
    /* margin: 10px 0; */
  }

  .section__article_box_img {
    width: 425px;
    border-radius: 5% 5% 0 0;
  }
}

@media only screen and (max-width:1080px) {
  .section__card_container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 34px;
    padding: 105px 0 0 0;
  }

  .section__card_box {
    height: 325px;
    max-width: 450px;
    width: 100%;
    box-shadow: 10px 40px 50px rgb(229 233 246 / 40%);
    border-radius: 20px;
    background-color: var(--main-link-color);
    padding: 63px 52px 47px 37px;
    transition: .2s linear;
    cursor: pointer;
  }
}

@media only screen and (max-width:1068px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 100px;
    margin: 0 0 144px 0;
  }

  .section__carousel_big_container {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }

  .section__carousel {
    width: 900px !important;
    height: 550px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 269px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel_content_container {
    margin: 100px 0 0 0;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: flex-start;
  }

  .section__carousel_content_box_paragraph_second {
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    max-width: 420px;
    width: 100%;
    margin: 25px 0 0 0;
  }

  .main__box.active {
    margin: 0 auto;
  }

  .section__providers_container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin: 162px 0 0 0;
    gap: 75px;
  }

  .section__providers_box.active {
    margin: 0 auto;
  }

  .section__mobile_container {
    margin: 265px 0 0 0;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 71px;
  }

  .section__mobile_box.active {
    margin: 0 auto;
  }

}

@media only screen and (max-width:970px) {
  .section__article_container {
    display: grid;
    grid-template-columns: auto;
    gap: 100px;
    justify-content: center;
  }

  .section__article_box {
    width: 500px;
    height: 575px;
    background: var(--main-link-color);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 70%);
    border-radius: 5% 5% 5% 5%;
    transition: all .2s linear;
    cursor: pointer;
  }

  .section__article_box_img {
    width: 500px;
    border-radius: 5% 5% 0 0;
  }

  .section__article_box {
    width: 500px;
    height: 625px;
    background: var(--main-link-color);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 70%);
    border-radius: 5% 5% 5% 5%;
    transition: all .2s linear;
    cursor: pointer;
  }

  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
  }

  .footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    height: 700px;
    width: 100%;
    margin: 202px 0 0 0;
    padding: 124px 0 113px 0;
  }

  .section__carousel {
    width: 800px !important;
    height: 550px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 269px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel_big_container {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }
}

@media only screen and (max-width:900px) {
  .nav .nav__list .nav__item .nav__link {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .section__card_container {
    display: grid;
    grid-template-columns: auto;
    gap: 34px;
    padding: 105px 0 0 0;
    justify-content: center;
  }

  .section__card_box {
    height: 350px;
    max-width: 500px;
    width: 100%;
    box-shadow: 10px 40px 50px rgb(229 233 246 / 40%);
    border-radius: 20px;
    background-color: var(--main-link-color);
    padding: 63px 52px 47px 37px;
    transition: .2s linear;
    cursor: pointer;
  }
}

@media only screen and (max-width:860px) {
  .section__carousel {
    width: 700px !important;
    height: 550px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 269px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel_big_container {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }
}

@media only screen and (max-width:800px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width:765px) {
  .section__carousel {
    width: 600px !important;
    height: 600px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 269px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel_big_container {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }

  .section__carousel_small_box_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    mix-blend-mode: normal;
    color: var(--main-link-color);
    margin: 0 0 25px 0;
    position: relative;
  }

  .section__carousel_small_box_title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-link-color);
    transform: translateY(80px) translateX(-250px);
  }

  .section__mobile_box_img {
    width: 500px;
    height: 434px;
  }

  .main__box_img {
    width: 500px;
  }

  .section__providers_box_img {
    width: 500px;
    height: 477px;
  }

}

@media only screen and (max-width:665px) {
  .section__carousel {
    width: 500px !important;
    height: 600px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 269px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel_big_container {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }

  .section__carousel_small_box_title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-link-color);
    transform: translateY(80px) translateX(-210px);
  }

  .section__carousel_small_box_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    mix-blend-mode: normal;
    color: var(--main-link-color);
    margin: 0 0 25px 0;
    position: relative;
  }

  .footer__container {
    display: grid;
    grid-template-columns: auto;
  }

  .footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    height: 1250px;
    width: 100%;
    margin: 202px 0 0 0;
    padding: 124px 0 113px 0;
  }
}

@media only screen and (max-width:565px) {
  .section__article_small_box_title {
    margin: 223px 0 100px 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    mix-blend-mode: normal;
    color: var(--main-title-color);
    position: relative;
  }

  .section__article_small_box_title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-title-color);
    transform: translateY(100px) translateX(-227px);
  }
}

@media only screen and (max-width:575px) {
  .main__box_img {
    width: 400px;
  }

  .section__providers_box_img {
    width: 400px;
    height: 477px;
  }

  .section__mobile_box_img {
    width: 400px;
    height: 434px;
  }
}

@media only screen and (max-width:565px) {
  .container {
    padding: 0 40px;
  }

  .section__carousel {
    width: 450px !important;
    height: 600px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 269px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel_big_container {

    width: 450px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }

  .section__carousel_small_box_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    mix-blend-mode: normal;
    color: var(--main-link-color);
    margin: 0 0 25px 0;
    position: relative;
  }

  .section__carousel_small_box_title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-link-color);
    transform: translateY(80px) translateX(-70px);
  }
}

@media only screen and (max-width:510px) {
  .container {
    padding: 0 30px;
  }

  .section__article_box {
    width: 450px;
    height: 625px;
    background: var(--main-link-color);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 70%);
    border-radius: 5% 5% 5% 5%;
    transition: all .2s linear;
    cursor: pointer;
  }

  .section__article_box_img {
    width: 450px;
    border-radius: 5% 5% 0 0;
  }
}

@media only screen and (max-width:500px) {
  .main__box_title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    mix-blend-mode: normal;
    color: var(--main-title-color);
    max-width: 427px;
    width: 100%;
    line-height: 45px;
  }

  .section__carousel_big_container {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }

  .section__carousel_content_box.active {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  .section__carousel {
    width: 400px !important;
    height: 750px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 269px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }


}

@media only screen and (max-width:465px) {
  .section__article_box {
    width: 400px;
    height: 625px;
    background: var(--main-link-color);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 70%);
    border-radius: 5% 5% 5% 5%;
    transition: all .2s linear;
    cursor: pointer;
  }

  .section__article_box_img {
    width: 400px;
    border-radius: 5% 5% 0 0;
  }

  .section__article_small_box_title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-title-color);
    transform: translateY(100px) translateX(-227px);
    display: none;
  }

  .section__content_title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-title-color);
    transform: translateY(75px) translateX(-135px);
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  .section__carousel {
    width: 350px !important;
    height: 810px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: none;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel {
    width: 1000px !important;
    height: 425px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 150px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__mobile_container {
    margin: 150px 0 0 0;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 71px;
  }

  .section__providers_container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin: 100px 0 0 0;
    gap: 75px;
  }

  .section__content_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    mix-blend-mode: normal;
    color: var(--main-title-color);
    position: relative;
    margin: 0 0 30px 0;
  }

  .section__providers_box_title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-title-color);
    transform: translateY(85px) translateX(-160px);
    display: none;
  }

  .section__mobile_box_title::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-title-color);
    transform: translateY(80px) translateX(-205px);
    display: none;
  }

  .section__carousel_big_container {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }

  .section__carousel_small_box_title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56px;
    background-color: var(--main-link-color);
    transform: translateY(80px) translateX(-70px);
    display: none;
  }


  .section__carousel {
    width: 350px !important;
    height: 810px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 61px 75px 92px 46px;
    margin: 50px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel_small_box_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    mix-blend-mode: normal;
    color: var(--main-link-color);
    position: relative;
  }

  .section__article_box {
    width: 350px;
    height: 500px;
    background: var(--main-link-color);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 70%);
    border-radius: 5% 5% 5% 5%;
    transition: all .2s linear;
    cursor: pointer;
  }

  .section__article_box_img {
    width: 350px;
    border-radius: 5% 5% 0 0;
  }

  .section__providers_box_img {
    width: 300px;
    height: 477px;
  }

  .main__box_img {
    width: 300px;
  }

  .section__providers_box_img {
    width: 300px;
    height: 477px;
  }

  .section__mobile_box_img {
    width: 300px;
    height: 434px;
  }
}

@media only screen and (max-width: 385px) {
  .section__article_box_img {
    width: 300px;
    border-radius: 5% 5% 0 0;
  }

  .section__article_box {
    width: 300px;
    height: 625px;
    background: var(--main-link-color);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 70%);
    border-radius: 5% 5% 5% 5%;
    transition: all .2s linear;
    cursor: pointer;
  }

  .container {
    padding: 0 30px;
  }

  .section__carousel_small_box_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    mix-blend-mode: normal;
    color: var(--main-link-color);
    position: relative;
    display: none;
  }

  .section__carousel {
    width: 300px !important;
    height: 640px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 0 30px 10px 46px;
    margin: 269px 0 0 0;
    transition: all .2s linear;
    transform: translateX(0);
  }

  .section__carousel_big_container {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    margin: 0 auto;
  }
}

/* ****RESPONSIVE END**** */